.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  user-select: none;
}

.controls {
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-bottom: 2px solid var(--primary);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.countSpan {
  font-family: var(--clockFace);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--primary);
  transition: all 0.3s ease;
}

.activeCount {
  background-color: var(--primary);
  color: white;
}

.saveBtn {
  background: white;
  border: 1px solid var(--primary);
  height: 100%;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.saveBtn:hover {
  transform: scale(1.05);
}

.inputBox {
  padding: 6px 8px;
  font-family: var(--clockFace);
  outline: none;
  border: 1px solid;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.inputBox:focus {
  border: 1px solid var(--primary);
}

.colorPreview {
  flex: 1;
  height: 100%;
  border-radius: 5px;
}

.scrollBtn {
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 10px;
  display: inline-block; 
  cursor: pointer;
  width: max-content;
  margin: auto;
}


.previewBox {
  margin: auto;
  display: flex;
  gap: 2rem;

  padding: 2rem;
  border-radius: 10px;

  background-image: linear-gradient(to top, #5d90ee41, #8a6dd841 50%);
  backdrop-filter: blur(0.2s);
}

.description {
  width: 60%;
  margin: auto;
  padding: 2rem;
}