.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease;
  position: relative;
  background-color: var(--color-page-bg);
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-primary-text);
  background-color: var(--color-primary);
  font-family: var(--tiktok-sans);
  font-weight: 500;
}

.backBtn:hover,
.backBtn:focus {
  background-color: var(--color-primary);
  background-color: color-mix(in srgb, var(--color-primary) 90%, black);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: auto;
  transition: all 0.3s ease;
}

.toggles {
  display: flex;
  gap: 1rem;
}

.toggles button {
  padding: 2rem;
  background-color: var(--color-page-bg);
  background-color: color-mix(in srgb, var(--color-page-bg) 90%, black);
  color: var(--color-text-high);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--tiktok-sans);
  font-weight: 500;
}

.indicator {
  color: var(--color-text-high);
  transition: all 0.3s ease;
}

.indicator.hide {
  display: none;
}