.container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease;
  position: relative;
  background-color: var(--color-page-bg);
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-primary-text);
  background-color: var(--color-primary);
  font-family: var(--tiktok-sans);
  font-weight: 500;
}

.backBtn:hover,
.backBtn:focus {
  background-color: var(--color-primary);
  background-color: color-mix(in srgb, var(--color-primary) 90%, black);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: auto;
  transition: all 0.3s ease;
}

.toggles {
  display: flex;
  gap: 1rem;
}

.toggles button {
  padding: 2rem;
  background-color: var(--color-page-bg);
  background-color: color-mix(in srgb, var(--color-page-bg) 90%, black);
  color: var(--color-text-high);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--tiktok-sans);
  font-weight: 500;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  outline: none;
  border-radius: 8px;
  background-color: var(--color-page-bg);
  accent-color: var(--color-primary);
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 1;
  box-shadow: var(--shadow-lg);
}

.slider:hover {
  background: var(--color-border);
}

.slider.hide {
  transform: translateY(10px) scale(0.5);
  opacity: 0;
}

.slider:disabled {
  cursor: not-allowed;
}

.slider::-webkit-slider-runnable-track {
  height: 50px;
  background-color: var(--color-page-bg);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: var(--color-primary);
  border-radius: 7px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.slider::-moz-range-track {
  height: 4px;
  background-color: var(--color-surface);
  border-radius: 8px;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--color-text-low);
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

.indicator {
  color: var(--color-text-high);
  transition: all 0.3s ease;
}

.indicator.hide {
  display: none;
}