.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    background-color: var(--gradient-from);
    backdrop-filter: blur(20px);
    color: var(--primary);

    user-select: none;
    -moz-user-select: none;
}

.header h1 {
    font-size: 1.5rem;
}


.btnGroup {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.btnGroup button {
    all: unset;
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btnGroup button:hover {
    opacity: 0.8;
}

.likeBtn {
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .header {
        padding: 1em;
    }

    .header h1 {
        font-size: 1.3rem;
    }
}