.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 0.8rem;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.footer:hover {
  transform: translateY(-10px);
}

.navbar {
  display: flex;
  gap: 0.6em;
}

.link,
.themeBtn {
  text-decoration: none;
  all: unset;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.link:hover,
.themeBtn:hover {
  text-decoration: underline;
  color: #6295f3;
}