.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  width: 100%;
  border-top: 2px solid var(--primary-border);
}

.footerDiv {
  font-size: 1rem;
  color: var(--black);
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerDiv p {
  font-weight: 600;
}

.navbar {
  display: flex;
  gap: 1.5em;
}

.link,
.themeBtn {
  text-decoration: none;
  all: unset;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.link:hover,
.themeBtn:hover {
  color: var(--primary);
}

@media screen and (max-width:768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}