.container {
    flex: 1 1 100%;
    padding: 2rem;
    background-color: var(--white);
    color: var(--black);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-sm);
    font-family: var(--tiktok-sans);
}

.heading {
    font-size: 2.25rem;
    color: var(--primary);
    margin-bottom: 1rem;
    text-align: center;
}

.subheading {
    font-size: 1.5rem;
    color: var(--primary);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--primary-border);
    padding-bottom: 0.25rem;
}

.text {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.footer {
    margin-top: 2rem;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}