:root {
  --primary: #6295f3;
  --primaryblur:rgba(117, 161, 255, 0.151);
  --primary-hover: rgba(98, 149, 243, 0.3);
  --primary-border: #6295f36b;

  --primary-text: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --border: gray;
  --text-dark: #383838;

  --overlay-color: #00000080;

  --gradient-from: #81adff3a;
  --gradient-to: #ffffff;

  --shadow-sm: 0 4px 6px rgba(255, 255, 255, 0.1);
  --tiktok-sans: "TikTok Sans", sans-serif;
  --clockFace: "JetBrains Mono", monospace;
}

[data-theme="dark"] {
  --primary: #ee3131;
  --primaryblur:rgba(255, 117, 117, 0.151);
  --primary-hover: rgba(200, 89, 89, 0.3);
  --primary-border: #c859594d;

  --primary-text: #ffffff;
  --white: #181818;
  --black: #e0e0e0;
  --border: #d1d1d1;
  --text-dark: #cccccc;

  --overlay-color: #c9c9c980;

  --gradient-from: #c859592a;
  --gradient-to: #2a2a2a;

   --shadow-sm: 0 4px 6px rgba(18, 18, 18, 0.1);
}



body {
  font-family: var(--tiktok-sans);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: none;
  line-height: 1;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-page-bg);
}

*::-webkit-scrollbar-track {
  background: var(--color-page-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
  border: 2px solid var(--color-border);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

*:focus-visible::-webkit-scrollbar-thumb {
  outline: 2px solid var(--color-primary-light);
}